html,body{
    height: 100%;
}

body{
    background-color: #FFFFFF;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("/assets/images/sunray.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}

/*@media (max-width: 767px) {
    body{
        background-image: url("/assets/images/sunray.png");
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
    }
}*/

ul,ol{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.uiContainer{
    height: calc(100% - 72px);
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
    height: 100%;
    font-size: 16px;
}

.fancyText{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.48);
    color: #FFFFFF;
    transform: rotateZ(-5deg);
}

.up-10{
    margin-top: -10px;
}