#photoBar .show-pics{
   position: absolute;
   left: 55%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

#photoBar .playNow{
    content: url('/assets/images/playnow.png');
}


#canvas{
    margin: 10px;
  /*  width: 80vw;
    height: 80vh;*/
}