<div class="container-fluid">
    <div ng-show="menu">
        <h1 class="text-center fancyText">Paddle PoP</h1>
        <div class="row">
            <div class="col-sm-4">
                <h2 class="text-center fancyText">Snack</h2>
                <div class="logo"></div>
                <h2 class="text-center fancyText up-10">Attack</h2>
                <h3 class="text-center fancyText">
                    Take a picture of your mouth to join snack attack and win exciting prizes.
                </h3>
            </div>
            <div class="col-sm-8">
                <div class="fancy-btn" id="start" ng-click="startGame()"></div>
            </div>
        </div>
    </div>
    <div id="photoBar" ng-hide="menu">
        <div ng-include src="'modules/FirstPhase/view/headerStart.html'" class="tab-content"></div>
        <div ng-hide="gameOn">
            <div ng-show="imgs.length < 2 || imgs == undefined">
                            <div class="row">
                            <canvas id="canvas1" class="lip-shape" ng-hide="filepreview">
                                <draw-circle ></draw-circle>
                            </canvas>
                                <img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/>
                            </div>
                            <div class="row detail">
                            <div class="col-sm-4 fancyText f1" ng-show="showVid">
                                Take Photo of your mouth {{imgs.length>0? 'Closed':'Open'}} Now
                            </div>
                            <div ng-hide="showVid">
                                <video id="sourcevid" autoplay width="480" height="360">
                                    Sorry, you're browser doesn't support video. Please try
                                </video>
                                <div style="margin-left: 100px;">
                                    <img id="CaptureImage" src="" style="margin-left: 20px;" width="480" height="360">
                                    <canvas id="tmpImage" style="margin-left: 20px; display: none;" width="480" height="360"></canvas>
                                </div>
                            </div>
                            <div>
                                <span ng-click="start()">
                                            <i class="fa fa-camera cam-icons pull-left" aria-hidden="true"></i>
                                        </span>
                                <label>
                                    <span><i class="fa fa-picture-o cam-icons pull-right" aria-hidden="true"></i></span>
                                    <input type="file" fileinput="file" accept="image/*" filepreview="filepreview" style="display: none;">
                                </label>
                            </div>
                            </div>
            </div>
            <div ng-hide="imgs.length < 2" ng-if="imgs.length >= 2" class="show-pics">
                <div>
                    <span><img ng-src="{{imgs[0].url}}" class="sm-imgs"></span>
                    <span><img ng-src="{{imgs[1].url}}" class="sm-imgs"></span>
                    <div>Score 1000 points within 30 Sec....</div>
                </div>
                <div class="playNow" ng-click="playGame()"></div>
            </div>
        </div>
        <div ng-show="gameOn" >
            <canvas id="canvas" width=350 height=300 style="border: 1px dashed #000000;margin: 10px;"></canvas>
            <span id="count">30</span> seconds
        </div>
    </div>
</div>